## Pandas  
##### create a dataframe

In [1]:
import pandas as pd
import numpy as np

In [224]:
#1.手动输入
gradebook={
        "Student1": pd.Series([89.3, 78.7, 92.2], index=['Grade1', 'Grade2', 'Grade3']),
        "Student2": pd.Series([77.3, 83.4, 91.8], index=['Grade1', 'Grade2', 'Grade3']),
        "Student3": pd.Series([97.1, 88.6, 98.5], index=['Grade1', 'Grade2', 'Grade3'])
        }
gradeBookDF=pd.DataFrame(gradebook) 
print(gradeBookDF)

        Student1  Student2  Student3
Grade1      89.3      77.3      97.1
Grade2      78.7      83.4      88.6
Grade3      92.2      91.8      98.5

In [225]:
#2.Create an empty dataframe 创建一个空df
Gradebook2 = pd.DataFrame(index=['G1', 'G2', 'G3','G4','G5'], 
                          columns=['Bob', 'Sandy'])
print(Gradebook2)

    Bob Sandy
G1  NaN   NaN
G2  NaN   NaN
G3  NaN   NaN
G4  NaN   NaN
G5  NaN   NaN

In [226]:
#3. import data
from sklearn.datasets import load_boston 
dataset = load_boston() 
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
df['target'] = dataset.target

In [3]:
#4. import data 2 csv
df = pd.read_csv('dataset.csv')

FileNotFoundError: File b'dataset.csv' does not exist

In [10]:
#5. create an empty df and append rows
columns=['title', 'aid', 'bvid']
df_temp = pd.DataFrame(columns=['title', 'aid', 'bvid'])
dict_new = {'title':'007', 'aid':'4821998', 'bvid':"BV12s411i7yy",'comment':37}
#df_temp = df_temp.append(dict_new[dict_new.keys()==columns], ignore_index=True)

dict_new[columns]

TypeError: unhashable type: 'list'

##### select cell

In [228]:
gradeBookDF.iloc[1,2] # grade2 + student3  # row，column

88.6

In [229]:
Gradebook2.loc["G1","Sandy"]=98.1 
Gradebook2.loc[["G2","G3"],"Sandy"]=88.1 # row，column
print(Gradebook2)

    Bob Sandy
G1  NaN  98.1
G2  NaN  88.1
G3  NaN  88.1
G4  NaN   NaN
G5  NaN   NaN

In [230]:
import random #import 数据
for i in Gradebook2.index:
    Gradebook2.loc[i,"Bob"]=random.randint(50,100)
    #print(Gradebook2)
print(Gradebook2)

   Bob Sandy
G1  85  98.1
G2  92  88.1
G3  62  88.1
G4  93   NaN
G5  56   NaN

### manipulate column
##### select a column

In [231]:
Gradebook2.iloc[:,0] # or
Gradebook2['Bob'] # or
Gradebook2.Bob # .values ==> return a array

G1    85
G2    92
G3    62
G4    93
G5    56
Name: Bob, dtype: object

##### insert column

In [232]:
#Create column
Gradebook2["NewColumn"]=0
Gradebook2.loc[:,0]=98.2
Gradebook2

   Bob Sandy  NewColumn     0
G1  85  98.1          0  98.2
G2  92  88.1          0  98.2
G3  62  88.1          0  98.2
G4  93   NaN          0  98.2
G5  56   NaN          0  98.2

In [233]:
# insert column with index 
Gradebook2.insert(1, 'NewColumn2',np.nan)  # 1 - index 
Gradebook2

   Bob  NewColumn2 Sandy  NewColumn     0
G1  85         NaN  98.1          0  98.2
G2  92         NaN  88.1          0  98.2
G3  62         NaN  88.1          0  98.2
G4  93         NaN   NaN          0  98.2
G5  56         NaN   NaN          0  98.2

##### remove column

In [234]:
Gradebook2=Gradebook2.drop("NewColumn2", axis=1) #axis = 0 为 row


# remove with index 
# or Gradebook2.drop(Gradebook2.columns[2],axis=1) 

Gradebook2

   Bob Sandy  NewColumn     0
G1  85  98.1          0  98.2
G2  92  88.1          0  98.2
G3  62  88.1          0  98.2
G4  93   NaN          0  98.2
G5  56   NaN          0  98.2

### manipulate row
##### select a row

In [235]:
#Create a new row
Gradebook2.loc[0,"NewColumn"]= 234
Gradebook2

    Bob Sandy  NewColumn     0
G1   85  98.1        0.0  98.2
G2   92  88.1        0.0  98.2
G3   62  88.1        0.0  98.2
G4   93   NaN        0.0  98.2
G5   56   NaN        0.0  98.2
0   NaN   NaN      234.0   NaN

##### missing data

In [206]:
#找出有空值得col
Gradebook2.columns[Gradebook2.isnull().any()]

Index(['NewColumn2', 'Sandy'], dtype='object')

In [207]:
#找出有空值得row
Gradebook2[Gradebook2.isnull().any(axis=1)] 
#Gradebook2.index[Gradebook2.isnull().any(axis=1)]

   Bob  NewColumn2 Sandy  NewColumn
G1  65         NaN  98.1       98.2
G2  70         NaN  88.1        0.0
G3  84         NaN  88.1        0.0
G4  56         NaN   NaN        0.0
G5  55         NaN   NaN        0.0

##### Remove 空值

In [208]:
#replace NaN to 0
#Gradebook2=Gradebook2.fillna(0) 

#删除某一列的有missing value row
Gradebook2 = Gradebook2[Gradebook2['Sandy'].notnull()] # or

#删除全部有missing value 的 row
#Gradebook2[~Gradebook2.isnull().any(axis=1)] # or

Gradebook2

   Bob  NewColumn2 Sandy  NewColumn
G1  65         NaN  98.1       98.2
G2  70         NaN  88.1        0.0
G3  84         NaN  88.1        0.0

##### reading data

In [82]:
# 查看data
df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9

In [83]:
list(df.columns.values)
#or
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'target'],
      dtype='object')

In [84]:
df.shape #(row, column)

(506, 14)

In [85]:
df.index

RangeIndex(start=0, stop=506, step=1)

In [86]:
df.TAX.unique()

array([296., 242., 222., 311., 307., 279., 252., 233., 243., 469., 226.,
       313., 256., 284., 216., 337., 345., 305., 398., 281., 247., 270.,
       276., 384., 432., 188., 437., 403., 193., 265., 255., 329., 402.,
       348., 224., 277., 300., 330., 315., 244., 264., 223., 254., 198.,
       285., 241., 293., 245., 289., 358., 304., 287., 430., 422., 370.,
       352., 351., 280., 335., 411., 187., 334., 666., 711., 391., 273.])

In [87]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
target     float64
dtype: object

##### wrangling data --- convert type

In [169]:
# convert type
df.TAX = df.TAX.astype (str) 
df.ZN.astype ("category")
df.ZN = pd.Categorical(df.ZN) 
df.dtypes

CRIM        float64
ZN         category
INDUS       float64
CHAS        float64
NOX         float64
RM          float64
AGE         float64
DIS         float64
RAD         float64
TAX          object
PTRATIO     float64
B           float64
LSTAT       float64
target      float64
dtype: object

In [170]:
df['time'].sort_values()

,CRIM,ZN,NewColumn,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

##### 筛选

In [171]:
df.TAX.unique()

array(['296.0', '242.0', '222.0', '311.0', '307.0', '279.0', '252.0',
       '233.0', '243.0', '469.0', '226.0', '313.0', '256.0', '284.0',
       '216.0', '337.0', '345.0', '305.0', '398.0', '281.0', '247.0',
       '270.0', '276.0', '384.0', '432.0', '188.0', '437.0', '403.0',
       '193.0', '265.0', '255.0', '329.0', '402.0', '348.0', '224.0',
       '277.0', '300.0', '330.0', '315.0', '244.0', '264.0', '223.0',
       '254.0', '198.0', '285.0', '241.0', '293.0', '245.0', '289.0',
       '358.0', '304.0', '287.0', '430.0', '422.0', '370.0', '352.0',
       '351.0', '280.0', '335.0', '411.0', '187.0', '334.0', '666.0',
       '711.0', '391.0', '273.0'], dtype=object)

In [172]:
df.loc[df.TAX.str.contains('2'),'TAX'] = '22'   # 修改所有包含字符2的
df.TAX.unique()

array(['22', '311.0', '307.0', '469.0', '313.0', '337.0', '345.0',
       '305.0', '398.0', '384.0', '188.0', '437.0', '403.0', '193.0',
       '348.0', '300.0', '330.0', '315.0', '198.0', '358.0', '304.0',
       '430.0', '370.0', '351.0', '335.0', '411.0', '187.0', '334.0',
       '666.0', '711.0', '391.0'], dtype=object)

In [173]:
df = df[~df.TAX.str.match('22')]      # 删除所有字符‘22’
df.TAX.unique()

array(['311.0', '307.0', '469.0', '313.0', '337.0', '345.0', '305.0',
       '398.0', '384.0', '188.0', '437.0', '403.0', '193.0', '348.0',
       '300.0', '330.0', '315.0', '198.0', '358.0', '304.0', '430.0',
       '370.0', '351.0', '335.0', '411.0', '187.0', '334.0', '666.0',
       '711.0', '391.0'], dtype=object)

In [174]:
df = df[df.TAX != '311.0']
df.TAX.unique()

array(['307.0', '469.0', '313.0', '337.0', '345.0', '305.0', '398.0',
       '384.0', '188.0', '437.0', '403.0', '193.0', '348.0', '300.0',
       '330.0', '315.0', '198.0', '358.0', '304.0', '430.0', '370.0',
       '351.0', '335.0', '411.0', '187.0', '334.0', '666.0', '711.0',
       '391.0'], dtype=object)

In [ ]:

df=df.drop("Degree", axis=1)
#axis=1 is the column, axis=0 is the row
#Remove the first row (row 0)
DictDF=DictDF.drop(0)
print(DictDF)

In [ ]:



#2. convert from other type
MyDict=[{"Name":"Bob", "Age":29, "Degree":"MS"}, {"Name":"Rob", "Age":34, "Degree":"PhD"}]
DictDF=pd.DataFrame.from_dict(MyDict)
DictDF.insert(2, 'NewColumn', [20007, 23604])
#REMOVE the “Degree” column
DictDF=DictDF.drop("Degree", axis=1)
#axis=1 is the column, axis=0 is the row
#Remove the first row (row 0)
DictDF=DictDF.drop(0)
print(DictDF)


######### cleaning data
#convert the type of column id to string
stu_df.id = stu_df.id.astype (str) 
   # stu_df.id.astype ("category")
   #or df.Sex = pd.Categorical(df.Sex) # 
#Remove rows with IDs that are not 6 in length.
stu_df = stu_df[stu_df.id.map(len)==6] 
#Remove rows with genders other than 1 or 2.
stu_df = stu_df[(stu_df['gender']==1)|(stu_df['gender']==2 )]
#Remove rows with ages outside of range.[18,80]
stu_df = stu_df[(stu_df['age']>=18)&(stu_df['age']<=80)] 
#Remove rows with incorrect or missing gpa values.
stu_df = stu_df[(stu_df['gpa']>=float(0))&(stu_df['gpa']<=float(4.00))] 
#Remove rows with sat missing or out of range [0,1600].
stu_df = stu_df[(stu_df.sat>=0)&(stu_df.sat<=1600)] 
#Remove rows with sections that are missing.
stu_df = stu_df[stu_df['section'].notnull()]
#Remove rows with any incorrect or missing values of final
stu_df = stu_df[(stu_df.final>=0)&(stu_df.final<=100)] 
#Remove rows with any incorrect or missing values of final
stu_df = stu_df[(stu_df.project>=0)&(stu_df.project<=100)] 

#找出有空值得col
null_columns=df.columns[df.isnull().any()]
#replace NaN to 0
df=df.fillna(0) 

#change type
#df.Items =  df.Items.astype ('category') 



#1
bins = [0,2,2.5,3,3.5,4]
labels = ['F','D','C','B','A']
stu_df['binned'] = pd.cut(stu_df['gpa'], bins=bins, labels=labels)


pd.set_option('display.max_columns', None) #

# =============================================================================
# # t-test for independent samples
# =============================================================================
from math import sqrt
from numpy.random import seed
from numpy.random import randn
from numpy import mean
from scipy.stats import sem
from scipy.stats import t

# function for calculating the t-test for two independent samples
def independent_ttest(data1, data2, alpha):
	# calculate means
	mean1, mean2 = mean(data1), mean(data2)
	# calculate standard errors
	se1, se2 = sem(data1), sem(data2)
	# standard error on the difference between the samples
	sed = sqrt(se1**2.0 + se2**2.0)
	# calculate the t statistic
	t_stat = (mean1 - mean2) / sed
	# degrees of freedom
	df = len(data1) + len(data2) - 2
	# calculate the critical value
	cv = t.ppf(1.0 - alpha, df)
	# calculate the p-value
	p = (1.0 - t.cdf(abs(t_stat), df)) * 2.0
	# return everything
	return t_stat, df, cv, p

# seed the random number generator
seed(1)
# generate two independent samples
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 51
# calculate the t test
alpha = 0.05
t_stat, df, cv, p = independent_ttest(data1, data2, alpha)
print('t=%.3f, df=%d, cv=%.3f, p=%.3f' % (t_stat, df, cv, p))
# interpret via critical value
if abs(t_stat) <= cv:
	print('Accept null hypothesis that the means are equal.')
else:
	print('Reject the null hypothesis that the means are equal.')
# interpret via p-value
if p > alpha:
	print('Accept null hypothesis that the means are equal.')
else:
	print('Reject the null hypothesis that the means are equal.')
    
    
    
    
# =============================================================================
# R_Squared    
# =============================================================================
### Method 1
from statistics import mean
# R^2 = SSR / SST
# create function that calculate regression line (Yi_hat = b0+b1*Xi) for y_hat 
def reg_line (x,y): # x = variable 1, y = variable 2
    n = len(x) # n = sample size
    xbar = mean(x)
    ybar = mean(y)
    b1 = (sum(x*y)-n*xbar*ybar)/(sum(x**2)-n*xbar**2)
    b0 = ybar - b1 * xbar
    return (b0,b1)
# create function that calculate R squared
def R_Squared (x,y):
    #run the function of regression line 
    b0,b1 = reg_line(x,y)
    #get y_hat series
    yhat = b0 + b1*x
    ybar = mean(y)
    #calculate SSR   
    SSR = sum((yhat - ybar)**2)
    #calculate SST
    SST = sum((y-ybar)**2)
    #calculate R value
    R_squared = SSR/SST
    return R_squared
#R_values= math.sqrt(R_Squared (x,y) ) 
    
### Method 2
np.corrcoef(x,y)



# =============================================================================
# ANOVA
# =============================================================================

import pandas as pd
datafile = "PlantGrowth.csv"
data = pd.read_csv('PlantGrowth.csv')

#Create a boxplot
#data.boxplot('weight', by='group', figsize=(12, 8))


grps = pd.unique(data.group.values)
d_data = {grp:data['weight'][data.group == grp] for grp in grps}

k = len(pd.unique(data.group))  # number of conditions
N = len(data.values)  # conditions times participants
n = data.groupby('group').size()[0] #Participants in each condition

from scipy import stats

F, p = stats.f_oneway(d_data['ctrl'], d_data['trt1'], d_data['trt2'])


# ==========================
# DFbetween = k - 1
# DFwithin = N - k
# DFtotal = N - 1
# SSbetween = (sum(data.groupby('group').sum()['weight']**2)/n) -(data['weight'].sum()**2)/N
# sum_y_squared = sum([value**2 for value in data['weight'].values])
# SSwithin = sum_y_squared - sum(data.groupby('group').sum()['weight']**2)/n
# SStotal = sum_y_squared - (data['weight'].sum()**2)/N
# MSbetween = SSbetween/DFbetween
# MSwithin = SSwithin/DFwithin 
# F2 = MSbetween/MSwithin
# p2 = stats.f.sf(F, DFbetween, DFwithin)
# ==========================
import statsmodels.api as sm
from statsmodels.formula.api import ols
# 重点！！！！ group的type一定要是“
data.dtypes
data.group = data.group.astype ('category') 
mod = ols('weight ~ group', data=data).fit()           
aov_table = sm.stats.anova_lm(mod, typ=2)
print (aov_table)
# ==========================
# >>> import random
#>>> random.seed(0)
#>>> data = [[random.randint(1, 20) for _ in range(size)] for size in range(1, 5)]
#>>> for sample in data:
#...     print(sample)
#[13]
#[14, 2]
#[9, 17, 16]
#[13, 10, 16, 12]
#
#We see that we have 4 samples of different size. Here let’s carry out the ANOVA:
#
#>>> from scipy import stats
#>>> f_val, p_val = stats.f_oneway(*data)
#>>> p_val
#0.57172146848075944   
# ==========================  

   



        
# =============================================================================
# visualization
# =============================================================================

# https://www.machinelearningplus.com/plots/top-50-matplotlib-visualizations-the-master-plots-python/#17.-Dot-Plot
    
    
    
#To reject the null hypothesis we check if the obtained F-value is 
#above the critical value for rejecting the null hypothesis. We could 
#look it up in a F-value table based on the DFwithin and DFbetween